@media screen and (min-width: 900px) {
  .outer_div1 {
    display: flex;

    padding: 13rem 0px 8rem 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .photo1 {
    height: 430px;
    width: 430px;
    border-radius: 215px;
  }
  .div11 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .div12 {
    margin-right: 10vw;
    width: 50%;
    display: flex;
    padding: 60px 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .div12 p {
    font-size: 20px;
    color: #272727;
  }
  .div12 h1 {
    font-weight: 500;
    font-size: 40px;
    color: #272727;
  }
  .div12 h2 {
    font-weight: 500;
    color: #272727;
  }
  .btns {
    display: flex;
  }
  .btn1 {
    padding: 13px 28px;
    margin: 5px;
    border-radius: 40px;
    color: black;
    border: 3px solid #8808ab;
  }
  .btn1:hover {
    background-color: #8808ab;
    color: white;
  }
  .btn2 {
    padding: 15px 30px;
    background-color: #8808ab;
    margin: 5px;
    border-radius: 40px;
    border: 3px solid #8808ab;
    color: white;
  }
  .btn2:hover {
    background-color: transparent;
    color: black;
  }
  /* ********************************************** */
  .outer_div2 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(248, 227, 251), rgb(231, 255, 255));
  }
  .title1 {
    font-size: 23px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .outer_div2 p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div2 h2 {
    display: flex;
    font-size: 35px;
    padding: 5px;
    justify-content: center;
  }
  .cont111 {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }
  .cont11 {
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
  }
  .cont1 {
    width: 40%;
    height: 330px;

    border: 3px solid black;
    border-radius: 20px;
  }
  .wrapper {
    padding: 5rem 0;
    display: flex;
    justify-content: space-evenly;
  }
  .check {
    font-size: 20px;
  }
  .head {
    font-size: 15px;
  }
  .subhead {
    font-size: 11px;
  }
  /* *************************************************************** */
  .outer_div3 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .outer_div3 p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div3 h2 {
    display: flex;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
  }
  .hack {
    display: grid;
    margin: 70px 6vw;

    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
  .hack1 {
    width: 100%;
    padding: 20px 50px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    border-radius: 20px;
  }
  .hname {
    font-size: 20px;
    margin: 5px 0;
  }
  .hrank {
    font-size: 18px;
    margin: 3px 0;
  }
  .hcont {
    font-size: 15px;
    margin: 9px 0;
  }
  /* ******************************************************** */
  .outer_div4 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(248, 227, 251), rgb(231, 255, 255));
  }
  .outer_div4 p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div4 h1 {
    display: flex;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
  }
  .project {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .project1 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 20px;
  }
  .pro1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px 0 0;
  }
  .pr {
    font-size: 25px;
  }
  .myimg {
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 5px 5px 2px #727171;
  }
  .git {
    padding: 15px 25px;
    border: 3px solid black;
    border-radius: 15px;
  }
  /* ***************************************************** */
  .contact {
    padding: 30px 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .contact p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .contact h1 {
    display: flex;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
  }
  .cont {
    display: flex;
    margin: 30px 10vw 30px 10vw;
  }
  .con1 {
    width: 50%;
    height: 5rem;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20px;
  }
  .log {
    font-size: 28px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div1 {
    padding: 12rem 0px 1rem 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .photo1 {
    height: 450px;
    width: 450px;
    border-radius: 225px;
  }
  .div11 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div12 {
    width: 100%;
    display: flex;
    padding: 60px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .div12 p {
    font-size: 20px;
    color: #272727;
    margin: 5px 0px;
  }
  .div12 h1 {
    font-weight: 500;
    font-size: 35px;
    color: #272727;
    margin: 5px 0px;
  }
  .div12 h2 {
    font-weight: 500;
    color: #272727;
    margin: 5px 0px;
  }
  .btns {
    display: flex;
    margin: 20px 0px;
  }
  .btn1 {
    padding: 13px 28px;
    margin: 5px;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    border: 3px solid #8808ab;
  }
  .btn1:hover {
    background-color: #8808ab;
    color: white;
  }
  .btn2 {
    padding: 15px 30px;
    background-color: #8808ab;
    margin: 5px;
    font-size: 16px;
    border-radius: 40px;
    border: 3px solid #8808ab;
    color: white;
  }
  .btn2:hover {
    background-color: transparent;
    color: black;
  }
  /* ********************************************** */
  .outer_div2 {
    padding: 20px 0;
    background-image: linear-gradient(rgb(248, 227, 251), rgb(231, 255, 255));
  }
  .title1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .outer_div2 p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div2 h2 {
    display: flex;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
  }
  .cont111 {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }
  .cont11 {
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
  }
  .cont1 {
    height: 330px;
    margin: 2rem 8vw 1rem 2rem;
    border: 3px solid black;
    border-radius: 20px;
  }
  .wrapper {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
  }
  .check {
    font-size: 20px;
  }
  .head {
    font-size: 14px;
  }
  .subhead {
    font-size: 11px;
  }
  /* *************************************************************** */
  .outer_div3 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .outer_div3 p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div3 h2 {
    display: flex;
    font-size: 25px;
    padding: 5px;
    justify-content: center;
  }
  .hack {
    display: grid;
    margin: 70px 6vw;

    gap: 80px;
    grid-template-columns: repeat(1, 1fr);
  }
  .hack1 {
    width: 100%;
    padding: 20px 50px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    border-radius: 20px;
  }
  .hname {
    font-size: 18px;
    margin: 5px 0;
  }
  .hrank {
    font-size: 16px;
    margin: 3px 0;
  }
  .hcont {
    font-size: 14px;
    margin: 15px 0;
  }
  /* ******************************************************** */
  .outer_div4 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(248, 227, 251), rgb(231, 255, 255));
  }
  .outer_div4 p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div4 h1 {
    display: flex;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
  }
  .project {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 60px;
  }
  .project1 {
    margin: 20px 7vw;
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 20px;
  }
  .pro1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px 0 0;
  }
  .pr {
    font-size: 25px;
  }
  .myimg {
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 5px 5px 2px #727171;
  }
  .git {
    padding: 15px 25px;
    border: 3px solid black;
    border-radius: 15px;
  }
  /* ***************************************************** */
  .contact {
    padding: 30px 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .contact p {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .contact h1 {
    display: flex;
    font-size: 30px;
    padding: 5px;
    justify-content: center;
  }
  .cont {
    margin: 30px 10vw 30px 10vw;
  }
  .con1 {
    width: 100%;
    height: 5rem;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    border-radius: 20px;
  }
  .log {
    font-size: 28px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 520px) {
  .outer_div1 {
    padding: 9rem 0px 2rem 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .photo1 {
    height: 220px;
    width: 220px;
    border-radius: 110px;
  }
  .div11 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div12 {
    width: 100%;
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .div12 p {
    font-size: 20px;
    color: #272727;
  }
  .div12 h1 {
    font-weight: 500;
    font-size: 26px;
    color: #272727;
    margin: 5px 0px;
  }
  .div12 h2 {
    font-weight: 500;
    font-size: 17px;
    /* font-weight: 600; */
    color: #272727;
    margin: 5px 0px;
  }
  .btns {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }
  .btn1 {
    padding: 13px 28px;
    margin: 6px;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    border: 3px solid #8808ab;
  }
  .btn1:hover {
    background-color: #8808ab;
    color: white;
  }
  .btn2 {
    padding: 13px 28px;
    background-color: #8808ab;
    margin: 6px;
    font-size: 16px;
    border-radius: 40px;
    border: 3px solid #8808ab;
    color: white;
  }
  .btn2:hover {
    background-color: transparent;
    color: black;
  }
  /* ********************************************** */
  .outer_div2 {
    padding: 20px 0;
    background-image: linear-gradient(rgb(248, 227, 251), rgb(231, 255, 255));
  }
  .title1 {
    font-size: 16.5px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .outer_div2 p {
    display: flex;
    font-size: 18px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div2 h2 {
    display: flex;
    font-size: 23px;
    padding: 5px;
    justify-content: center;
  }
  .cont111 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .cont11 {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
  }
  .cont1 {
    height: 330px;
    margin: 2rem 5vw;
    border: 3px solid black;
    border-radius: 20px;
  }
  .wrapper {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
  }
  .check {
    font-size: 17px;
    margin: 6px 6vw;
  }
  .head {
    font-size: 14px;
    margin: 6px 7vw;
  }
  .subhead {
    font-size: 10.5px;
  }
  /* *************************************************************** */
  .outer_div3 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .outer_div3 p {
    display: flex;
    font-size: 18px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div3 h2 {
    display: flex;
    font-size: 25px;
    padding: 5px;
    justify-content: center;
  }
  .hack {
    display: grid;
    margin: 70px 6vw;

    gap: 80px;
    grid-template-columns: repeat(1, 1fr);
  }
  .hack1 {
    width: 100%;
    padding: 20px 30px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    border-radius: 20px;
  }
  .hname {
    font-size: 16px;
    margin: 5px 0;
  }
  .hrank {
    font-size: 14px;
    margin: 3px 0;
  }
  .hcont {
    font-size: 13px;
    margin: 8px 0;
  }
  /* ******************************************************** */
  .outer_div4 {
    padding: 30px 0;
    background-image: linear-gradient(rgb(248, 227, 251), rgb(231, 255, 255));
  }
  .outer_div4 p {
    display: flex;
    font-size: 17px;
    padding: 5px;
    justify-content: center;
  }
  .outer_div4 h1 {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .project {
    justify-content: space-evenly;
    margin: 20px 4vw;
  }
  .project1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 0;
    padding: 15px 0;

    justify-content: space-around;
    border: 3px solid black;
    border-radius: 20px;
  }
  .pro1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px 0 0;
  }
  .pr {
    font-size: 17px;
    margin: 10px 0 2px 0;
  }
  .pr1 {
    font-size: 14px;
    margin: 2px;
  }
  .myimg {
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 5px 5px 2px #727171;
  }
  .git {
    padding: 8px 12px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px 0;
  }
  /* ***************************************************** */
  .contact {
    padding: 30px 0;
    background-image: linear-gradient(rgb(231, 255, 255), rgb(248, 227, 251));
  }
  .contact p {
    display: flex;
    font-size: 18px;
    padding: 5px;
    justify-content: center;
  }
  .contact h1 {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
  }
  .cont {
    margin: 30px 10vw 30px 10vw;
  }
  .con1 {
    width: 100%;
    height: 5rem;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    border-radius: 20px;
  }
  .con1 p {
    display: none;
  }
  .log {
    font-size: 40px;
    margin: 0 10px;
  }
}
